---
layout: default
refactor: true
---

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
<div id="post-list" class="flex-grow-1 px-xl-1">
{%for pin in pinned %}
  <article class="card-wrapper card">
      <a href="{{ pin.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
  {% assign card_body_col = '12' %}
 <h1 class="card-title my-2 mt-md-0">{{ pin.title }}</h1>
</a>
</article>
 {% endfor %}
</div>




{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}


{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
